<html>
<style>
    .h1 {
        color: lightslategrey;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .table {
        border-radius: 10px;
        background-color: lightgray;
    }

    .td1 {
        color: slategrey;
        font-family: monospace;
        font-size: 15;
    }

    .td2 {
        color: steelblue;
        font-family: inherit;
        font-size: 15
    }

    .submit {
        background-color: steelblue;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        float: right;

    }

    .href {
        color: rgb(47, 79, 83);
        font-family: cursive;
        font-size: larger;
        text-decoration: none;

    }
</style>
<form method="get" action="/logout">
<input type="submit" align=center class="submit" value="logout" name="submit">
</form>

<h1 class="h1">All Details</h1>

<table class="table" cellpadding="10" align="center" width="400">
    <tr>
        <td class="td1">Id</td>
        <td class="td1">Name</td>
        <td class="td1">E-mail</td>
        <td class="td1">Password</td>
        <td class="td1">Phone</td>
        <td class="td1">Country</td>
        <td class="td1">State</td>
        <td class="td1"> City</td>
        <td class="td1">Hobbies</td>
        <td class="td1">marital_status</td>
        <td class="td1">Gender</td>
        <td class="td1">Address</td>
        <td class="td1">Address1</td>
        <td class="td1">Pin</td>
        <td class="td1">Picture</td>
    </tr>
    <tr>
        <td class="td2"><%= results.id%> </td>
        <!-- <td class="td2" ><%= results.id %></td> -->
        <td class="td2"><%= results.name %></td>
        <td class="td2"><%= results.email %></td>
        <td class="td2"><%= results.password %></td>
        <td class="td2"><%= results.phone %></td>
        <td class="td2"><%= results.country %></td>
        <td class="td2"><%= results.state %></td>
        <td class="td2"><%= results.city %></td>
        <td class="td2"><%= results.hobbies %></td>
        <td class="td2"><%=results.marital_status%></td>
        <td class="td2"><%=results.gender%></td>
        <td class="td2"><%=results.address%></td>
        <td class="td2"><%=results.address1%></td>
        <td class="td2"><%= results.pin%></td>
        <td class="td2"><img src="/uploads/<%= results.filename %>"></td>
    </tr>

</table><br>

<table align=center>
    <tr>
        <td><a href="/update" class="href">Click the link to UPDATE the entries</a></td>
    </tr>
</table><br>

</html>